@model IEnumerable<TISklep.Models.Category>
@{
}

<header class="menu-bar">
    <div id="menu">
        @foreach (var kategoria in Model)
        {
            <a href="@Url.Action("ListaFilmow", "Films", new { nazwaKategorii = kategoria.Name })" class="menu-link"> @kategoria.Name </a>
        }
        <a href="@Url.Action("WszystkieFilmy", "Films")">Wszystkie</a>
    </div>
</header>
